

body {
  margin: 67px;
  
}

header {
  display: flex;
  justify-content: space-between;
  width: 901px;
}

.logo {
  display: flex;
  justify-content: space-evenly;
}

.forkimg {
  margin-right: 15px;
  margin-top: 6px;
}

.title-bar {
  margin-bottom: 25px;
}

.links {
  display: flex;
  justify-content: space-between;
}

#blogStart {
  font-size: 40px;
  font-family: 'Yellowtail', cursive;
  font-weight: bolder;
}

#blogStartTag {
    font-size: 10px;
    text-transform: uppercase; 
}

.mail {
    margin-left: 10px; 
  }

.top-border {
    background-image: url(../img/hr-img.png);
    background-repeat: repeat;
    margin-top: 30px;
    margin-bottom: 45px;
    width:901px;
  }

main{
  width:901px;
} 
  
.title-of-page {
  display: flex;
  justify-content: space-between;
}

h1 {
    font-size:40px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

#subhead {
  color:rgb(179, 177, 177);
  text-transform: uppercase;
  font-size: 15px;
  margin-top:3px;
}

.print {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#print-text {
  color:rgb(179, 177, 177);
  font-size: small;
}

.pizza{
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.directions p{
  /* color:rgb(179, 177, 177); */
  color: grey;
  margin-top: 2rem;
  text-indent: 20px;
}

article{
  background-image: url(../img/list-bg.png);
  display: flex;
  flex: wrap;
  /* flex-direction: column; */
  justify-content: space-evenly;
  margin-top: 2rem;
}

article ul{
  margin-top: 2rem;
  margin-bottom: 4rem;
  color: grey;
  
}


li{
  padding: 8px;
  font-family: 'Patrick Hand';
}

#crossout{
  text-decoration:line-through;
}

.border-bottom {
  background-image: url(/img/hr-img.png);
  background-repeat: repeat;
  margin-top: 45px;
  margin-bottom: 30px;
  width:901px;
}

footer{
  display: flex;
  justify-content: space-between;
  width: 901px;
}

h2{
  font-weight:bold;
  padding-bottom: .5rem;
  margin-left: -10rem;
  color:rgb(63, 63, 63);
}

.vanessa p{
  margin-left: -10rem;
  color:rgb(63, 63, 63);
}

button{
  background-color:#cc6600 ;
  color:white;
  width: 175px;
  height: 50px;
  border: transparent;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 70px;
  width: 901px;
}

hr {
  width: 901px;
  /* border:rgb(241, 239, 239) solid 1px; */
  margin: 10px;
}

.end{
  text-align: center;
  padding-top: 2rem;
  width: 901px;
}