
body {
  margin: 67px;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: space-evenly;
}

.forkimg {
  margin-right: 15px;
}

.title-bar {
  margin-bottom: 25px;
}

.links {
  display: flex;
  justify-content: space-between;
}

#blogStart {
  font-size: xx-large;
  font-family: 'Yellowtail', cursive;
  font-weight: bolder;
}

#blogStartTag {
    font-size: smaller;
    text-transform: uppercase; 
}

.mail {
    margin-left: 10px; 
  }

.top-border {
    background-image: url(../img/hr-img.png);
    background-repeat: repeat;
    margin-top: 30px;
    margin-bottom: 45px;
  }

.title-of-page {
  margin-bottom: 25px;
}

h1 {
    font-size:xx-large;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    margin-right: auto;
}

#subhead {
  color:rgb(179, 177, 177);
  text-transform: uppercase;
  font-size: small;
  margin-top:3px;
}


.border-bottom {
  background-image: url(../img/hr-img.png);
  background-repeat: repeat;
  margin-top: 45px;
  margin-bottom: 30px;
}